Repository augarov/cv: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, htmlhint, prettier

eslint:
  name: ESLint
  entry: bash -c 'realpath "$@" | xargs pnpm -C gh-pages exec eslint --fix --max-warnings=0' --
  language: system
  pass_filenames: true

stylelint:
  name: stylelint
  entry: bash -c 'realpath "$@" | xargs pnpm -C gh-pages exec stylelint --fix' --
  language: system
  pass_filenames: true

htmlhint:
  name: htmlhint
  entry: bash -c 'realpath "$@" | xargs pnpm -C gh-pages exec htmlhint' --
  language: system
  pass_filenames: true

prettier:
  name: prettier
  entry: bash -c 'realpath "$@" | xargs pnpm -C gh-pages exec prettier --write' --
  language: system
  pass_filenames: true

create validate workflow
  .github/workflows/build_cv.yaml
  .github/workflows/validate.yaml
  Makefile
Due: prettier

remove format param on cv_renderer
  .vscode/launch.json
  Makefile
  cv_renderer/README.md
  cv_renderer/__main__.py
  cv_renderer/ast/base.py
  cv_renderer/ast/html_renderer.py
  cv_renderer/ast/latex_renderer.py
  cv_renderer/ast/plain_renderer.py
  cv_renderer/renderer.py
  templates/cv.html.j2
  templates/cv.tex.j2
Due: prettier

refactor cli params, add logging
  .vscode/launch.json
  Makefile
  cv_renderer/__init__.py
  cv_renderer/__main__.py
  cv_renderer/app.py
  cv_renderer/app_params.py
  cv_renderer/logger.py
  cv_renderer/poetry.lock
  cv_renderer/pyproject.toml
  cv_renderer/renderer.py
Due: prettier

update readme
  cv_renderer/README.md
Due: prettier

add template type detector
  cv_renderer/template_type.py
Due: none

update project structure
  .cursor/rules/cv-project-structure.mdc
  .cursor/rules/project-structure.mdc
  .pre-commit-config.yaml
  Makefile
  cv_renderer/pyproject.toml
  cv_renderer/src/cv_renderer/__init__.py
  cv_renderer/src/cv_renderer/__main__.py
  cv_renderer/src/cv_renderer/app.py
  cv_renderer/src/cv_renderer/app_params.py
  cv_renderer/src/cv_renderer/ast/__init__.py
  cv_renderer/src/cv_renderer/ast/base.py
  cv_renderer/src/cv_renderer/ast/html_renderer.py
  cv_renderer/src/cv_renderer/ast/latex_renderer.py
  cv_renderer/src/cv_renderer/ast/plain_renderer.py
  cv_renderer/src/cv_renderer/logger.py
  cv_renderer/src/cv_renderer/models.py
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_type.py
  cv_renderer/tests/__init__.py
  cv_renderer/tests/test_template_type.py
Due: prettier

run pytest on ci
  .github/workflows/validate.yaml
  cv_renderer/README.md
Due: prettier

add accessibility mode
  gh-pages/src/accessibility.js
  gh-pages/src/main.js
Due: eslint, prettier

pass sourceUrl as a viewer param
  Makefile
  cv_data.yaml
  cv_renderer/src/cv_renderer/models.py
  gh-pages/public/pdfjs/web/viewer.html
  templates/cv.html.j2
Due: prettier

Add validate badge
  README.md
Due: prettier

use minified versions of pdfjs lib
  gh-pages/public/pdfjs/web/viewer.html
  gh-pages/public/pdfjs/web/viewer.mjs
Due: none

add locale param in pdfviewer
  cv_data.yaml
  cv_renderer/src/cv_renderer/models.py
  gh-pages/public/pdfjs/web/viewer.mjs
  templates/cv.html.j2
Due: prettier

add accessibility mode button
  gh-pages/public/pdfjs/web/images/accessibility-icon.svg
  gh-pages/public/pdfjs/web/viewer.html
  templates/cv.html.j2
Due: none

add time formatting utility
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_utils.py
  templates/cv.tex.j2
  tex/deedy-resume.cls
Due: none

Fix download button
  templates/cv.html.j2
Due: none

generate sitemap
  .cursor/rules/project-structure.mdc
  .vscode/launch.json
  Makefile
  templates/tex/cv-deedy.tex.j2
  templates/web/index.html.j2
  templates/web/sitemap.xml.j2
Due: prettier

update gitignore
  gh-pages/.gitignore
Due: none

generate robots
  Makefile
  gh-pages/.gitignore
  gh-pages/public/robots.txt
  templates/web/robots.txt.j2
Due: none

add rule to prefer make targets
  .cursor/rules/prefer-make-targets.mdc
Due: none

add pnpm lock as dependency to makefile
  Makefile
Due: none

exclude tests from mypy checks
  .vscode/settings.json
Due: prettier

add url normalization util
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_utils.py
  cv_renderer/tests/test_template_utils.py
  templates/web/robots.txt.j2
Due: none

add xml and plain types; add type-specific context resolution
  cv_renderer/src/cv_renderer/app.py
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_type.py
  cv_renderer/tests/test_template_type.py
Due: none

use type specific disclaimers; add html minifier
  gh-pages/package.json
  gh-pages/pnpm-lock.yaml
  gh-pages/vite.config.js
  templates/tex/cv-deedy.tex.j2
  templates/web/index.html.j2
Due: prettier

refactor; remove accessibility styles
  gh-pages/public/pdfjs/web/viewer.html
  gh-pages/src/main.js
  gh-pages/src/styles.css
  templates/web/index.html.j2
Due: eslint, stylelint, prettier

add open in pdfviewer button
  gh-pages/public/pdfjs/web/viewer.html
  gh-pages/src/main.js
  templates/web/index.html.j2
Due: eslint, prettier

add cv in html format
  templates/web/index.html.j2
Due: none

fix styles in acessibility mode
  gh-pages/src/main.js
  gh-pages/src/styles.css
  templates/web/index.html.j2
Due: eslint, stylelint, prettier

improve html tags
  templates/web/index.html.j2
Due: none

expose template params to js
  Makefile
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_utils.py
  gh-pages/.gitignore
  gh-pages/src/fallback_detection.js
  gh-pages/src/main.js
  templates/web/template_params.js.j2
Due: eslint, prettier

generate webmanifest
  Makefile
  gh-pages/.gitignore
  gh-pages/public/img/favicon/site.webmanifest
  templates/web/site.webmanifest.json.j2
Due: none

remove robots.txt
  .cursor/rules/prefer-make-targets.mdc
  .cursor/rules/project-structure.mdc
  Makefile
  gh-pages/.gitignore
  templates/web/robots.txt.j2
  templates/web/site.webmanifest.json.j2
Due: none

evaluate absolute path in webmanifest
  cv_renderer/src/cv_renderer/renderer.py
  cv_renderer/src/cv_renderer/template_utils.py
  templates/web/site.webmanifest.json.j2
Due: none

Path conditions:
  eslint: any of: ^gh-pages/src/.*\.(js|mjs|cjs|jsx|css)$, but not: (?x)^(
  gh-pages/public/pdfjs/.*|
  gh-pages/dist/.*|
  gh-pages/node_modules/.*|
  build/.*|
  tex/.*\.(aux|fdb_latexmk|fls|log|out|synctex\.gz|xdv)$|
  \.git/.*|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  \.venv/.*
  \.mypy_cache/.*
)$

  stylelint: any of: ^gh-pages/src/.*\.(css|scss)$, but not: (?x)^(
  gh-pages/public/pdfjs/.*|
  gh-pages/dist/.*|
  gh-pages/node_modules/.*|
  build/.*|
  tex/.*\.(aux|fdb_latexmk|fls|log|out|synctex\.gz|xdv)$|
  \.git/.*|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  \.venv/.*
  \.mypy_cache/.*
)$

  htmlhint: any of: ^gh-pages/src/.*\.html$, but not: (?x)^(
  gh-pages/public/pdfjs/.*|
  gh-pages/dist/.*|
  gh-pages/node_modules/.*|
  build/.*|
  tex/.*\.(aux|fdb_latexmk|fls|log|out|synctex\.gz|xdv)$|
  \.git/.*|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  \.venv/.*
  \.mypy_cache/.*
)$

  prettier: any of: \.(js|mjs|cjs|jsx|ts|tsx|css|scss|html|json|md|yml|yaml)$, but not: (?x)^(
  gh-pages/public/pdfjs/.*|
  gh-pages/dist/.*|
  gh-pages/node_modules/.*|
  build/.*|
  tex/.*\.(aux|fdb_latexmk|fls|log|out|synctex\.gz|xdv)$|
  \.git/.*|
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  \.venv/.*
  \.mypy_cache/.*
)$

